@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background: radial-gradient(#f0483a, #d10a20);
  overflow: hidden;
}
.container {
  display: grid;
  height: 100vh;
  grid-template:
    "header" auto
    "section"/
    100vw;

  header {
    grid-area: header;

    .containerQatar {
      display: flex;
      justify-content: start;
      align-items: center;

      h2 {
        color: white;
      }
    }
  }
  section {
    grid-area: section;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .fondoQ {
      opacity: 0.5;
      transition: all 0.3s;
    }
    .containerFantasma {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 460px;
      height: 500px;
      flex-direction: column;
      .imagenQ {
        width: 35rem;
        animation: flotar 2s ease-in-out infinite;
        transition: all 0.3s;
        top: 10%;
        position: relative;
      }
      .texto {
        color: #fff;
        font-size: 80px;
        text-shadow: 3px 1px 4px rgba(7,6,7,0.42);


      }
    }
  }
}

//#region KEYFRAMES
@keyframes flotar{
  0%{
    transform: translate(0,0);
  }
  50%{
    transform: translate(0,20px);
  }
  100%{
    transform: translate(0,-0px);
  }
}
//#endregion

@media (max-width: 767px){
  .fondoQ{
    transform: scale(0.8);
  }
  .imagenQ{
    width: 23rem;
  }
  .texto{
    transform: scale(0.8);
  }
}

